.refresh-ctn {
  position: relative;
  z-index: 10;
}

.refresh-ctn .refresh-ctn__loading {
  background-color: #ccc;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.refresh-ctn__loading > p {
  margin: 0;
  text-align: center;
  flex: 1;
}

.refresh-ctn .refresh-ctn--inner {
  background-color: #fff;
}
