html,
body,
#app{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
}

ul {
  margin: 0;
  min-height: 400px;
}

.container .content {
    flex: 1;
    padding: 15px 0;
}

header h2{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: .5em 0;
}

footer button {
    display: block;
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    border: none;
    color: #fff;
}
